<!--Find me in app/views/articles/index.html.erb-->
<h1>Our Articles</h1>
<ul>
    <% @articles.each do |article| %>
        <li>
            <a href="<%= article_path(article) %>"> <!--the article_path() helper method > Returns "/articles/#{article.id}" when given an article.-->
                <%= article.title %>
            </a>
        </li>
    <% end %>
</ul>
