<!--Find me in app/views/articles/index.html.erb-->
<h1>Our Articles</h1>
<ul>
    <% @articles.each do |article| %>
        <li>
            <%= link_to(article.title, article) %> <!-- link_to() helper method > Returns "/articles/#{article.id}" when given an article.-->
        </li>
    <% end %>
</ul>
