<h1>New Article</h1>

<!--A partial's filename must be prefixed with an underscore, e.g. _form.html.erb.
But when rendering, it is referenced without the underscore, e.g. render "form".
Thus, we refer to the _form.html.erb file-->
<%= render "form", article: @article %>
