/* CSS for routes handled by the 'home_pages' controller */
.logo-nav__logo-name {
  display: block;
  margin: -27% 30%;
  width: 105%;
  font-size: 130%;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.02em;
  white-space: nowrap;
}
