/* CSS styles for the footer part of routes */
.footer {
  background-color: #010409;
  padding-bottom: 1.2rem;
}

.copyright-sign {
  font-size: 2vw;
  padding: 25% 18% 15% 18%;
}

.crazy-creator-animation-box {
  width: 28vw;
}

.crazy-creator-animation {
  width: 100%;
  height: 100%;
}

.crazy-creators-logo-box {
  padding-left: 28%;
}

.crazy-creators-logo {
  color: white;
  text-decoration: none;
  font-size: 2vw;
}
