<!--Find me in app/views/users/index.html.erb-->
<header>
  <nav>
    <a href="#basecapm"><h1>Basecamp</h1></a>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#lineup">Lineup</a></li>
      <li><a href="#pings">Pings</a></li>
      <li><a href="#hey">Hey!</a></li>
      <li><a href="#activity">Activity</a></li>
      <li><a href="#my-stuff">My Stuff</a></li>
      <li><a href="#find">Find</a></li>
      <li><a href="#log-out">Log out</a></li>
    </ul>
  </nav>
</header>
<main>
  <!--Under development-->
</main>
<footer>
  <!--Under development-->
</footer>
