<!--Find me in app/views/users/index.html.erb-->
<header>
  <a href="#basecapm"><h1>Basecamp</h1></a>
</header>
<main>
  <!--Under development-->
</main>
<footer>
  <!--Under development-->
</footer>
