/* CSS styles for the '/sign-up' route */
.sign-up {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8%, 1fr));
  grid-auto-rows: auto; 
  grid-gap: 0.3333%;
  max-width: 100%;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  word-wrap: break-word;
  background-color: rgb(1, 10, 14);
}

.sign_up__crazy-creator-girl-box {
  width: 45vw;
}

.sign-up__form-box {
  font-size: 1.5vw;
  padding: 7vh 1rem 7vh 1rem;
}

.sign-up__logo-box {
  padding-left: 40%;
}

.sign-up_logo {
  display: block;
  width: 25vw;
  margin: 0;
  padding: 0.1rem;
}

.sign-up_logo .icon {
  fill: #1d2d35;
}

.sign-up_logo .name {
  fill: #1d2d35;
}

.sign-up_logo .card {
  opacity: 0;
  transform: translateX(1.25rem) rotate(10deg);
  transition: all 0.15s ease-out;
  fill: #ffe000;
}

.sign-up_logo .card--back {
  transition-delay: 0.1s;
}

.sign-up_logo:hover .card {
  opacity: 1;
  transform: translateX(0) rotate(0deg);
}

.sign-up_logo:hover .card--front {
  opacity: 0.6;
}

.sign-up_header-text {
  margin-top: 0rem;
  text-align: center;
}
