<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My User App</title>
</head>
<body>
    <h1>Users</h1>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>XXXX</td>
            <td>XXXX</td>
            <td>XXXX</td>
            <td>XXXX</td>
        </tr>
    </table>
</body>
</html>