<!--This file contains a partial view for other routes-->
<div grid_col="10/13" grid_row="row-1" class="crazy-creator-animation-box">
  <div id="crazy-creator-animation" class="crazy-creator-animation"></div>
</div>
<div grid_col="10/13" grid_row="row-1" class="crazy-creators-logo-box">
  <%= link_to "By Crazy Creators", "https://github.com/Crazy-Creators-Zone", target: :_blank, class: "crazy-creators-logo" %>
</div>
