<!--This file contains a partial view for other routes-->
<div grid_col="1/3" grid_row="row-1" class="github-octocat-animation-box">
  <%= link_to "https://github.com/Crazy-Creators-Zone", target: :_blank do %>
    <span id="github-octocat-animation" class="github-octocat-animation"></span>
  <% end %>
</div>
<div grid_col="5/9" grid_row="row-1" class="copyright-sign">
  <span>&copy 2022 My Basecamp</span>
</div>
<div grid_col="10/13" grid_row="row-1" class="crazy-creator-animation-box">
  <div id="crazy-creator-animation" class="crazy-creator-animation"></div>
</div>
<div grid_col="10/13" grid_row="row-1" class="crazy-creators-logo-box">
  <%= link_to "By Crazy Creators", "https://github.com/Crazy-Creators-Zone", target: :_blank, class: "crazy-creators-logo" %>
</div>
