<header class="header">
  <%= render "header" %>
</header>
<main>
  <section class="wrapper wrapper--intro">
    <h1>How it works</h1>
    <p>Soon...</p>
  </section>
</main>
<footer grid_container="footer" class="footer">
  <%= render "footer" %>
</footer>
