<!-- Find me in app/views/home_pages/index.html.erb -->
<header> 
  <nav> 
    <a href="#basecapm"><h1>Basecamp</h1></a>
    <ul>
      <li><%= link_to 'How it works', how_it_works_path %></li>
      <li><a href="#before-and-after">Before & after</a></li>
      <li><a href="#got-clients">Got clients</a></li>
      <li><a href="#pricing">Pricing</a></li>
      <li><a href="#support">Support</a></li>
      <li><a href="#sign-in">Sign in</a></li>
      <li><a href="#try-it-free">Try it free</a></li>
    </ul>
  </nav>
</header>
<main>
  <!--Under development-->
</main>
<footer>
  <!--Under development-->
</footer>
